@import "../mixins.scss";
.services-main-container{
    background-color:#f0edf4;
    .services-inner-container{
        .services-box-container{
            .service-box{
                filter:grayscale(0.5);
                @include boxCenter();
            }
        }
    }
}