@import "./mixins.scss";
.certificate-container {
  position: relative;
  .certificate-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  .certificate-info {
    font-size: 0.7rem;
    font-family: dune-rise;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    z-index: 1;
    filter: opacity(0);
  }
  &:hover {
    .certificate-info {
      top: -100%;
      z-index: 10;
      filter: opacity(1);
      box-shadow: 0px 0px 26px -1px rgb(69, 69, 69);
    }
  }
}
