.loader {
  position: relative;
  width: 200px;
  height: 200px;
  animation: animate 3s ease-in-out infinite;
}
.loader::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #d7afe1;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.loader::after {
  content: "";
  position: absolute;
  background: #494949;
  top: 50%;
  width: 40px;
  left: -15px;
  height: 40px;
  border-radius: 50%;
  transform: translateY(-100%);
  animation: animateBall 3s ease-in-out infinite;
}
@keyframes animateBall {
  0% {
    transform: translateY(-100%) translateX(-30px);
  }
  50% {
    transform: translateY(-100%) translateX(220px);
  }
  100% {
    transform: translateY(-100%) translateX(-30px);
  }
}
@keyframes animate {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(50deg);
  }
}
