* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import "./mixins.scss";

.navbar-main-container {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  .navbar-inner-container {
    @include boxBetween();
    position: relative;
    .navbar-logo {
      width: 80px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 2rem;
      img {
        width: 100%;
      }
    }
    .navbar-menu {
      z-index: 100;
      position: absolute;
      top: 0;
      right:0;
      padding: 2rem;
      .menu-icon {
        width: 80px;
        img {
          width: 100%;
          transition: 0.3s;
          cursor: pointer;
        }
      }
      .menu-icon-on {
        img {
          transform: rotateZ(90deg);
        }
      }
      .menu-icon-off {
        img {
          transform: rotateZ(0deg);
        }
      }
      .menu-main-container {
        position: fixed;
        width: 100%;
        transition: 1s;
        transition-delay: 0.6s;
        left: 0;
        right: 0;
        top: 0;
        background-color: #e7d8ed;
        overflow: hidden;
        @include boxCenter();
        .inner-menu-icon {
          width: 80px;
          margin: 2rem;
          position: absolute;
          right: 0;
          top: 0;
          img {
            width: 100%;
            transition: 0.3s;
          }
        }
        .menu-navigation-items {
          @include boxCenter();
          flex-direction: column;
          gap: 20px;
          .menu-nav-item {
            text-decoration: none;
            padding: 1rem;
            position: relative;
            cursor: pointer;
            color: #353535;
            font-size: 2rem;
            &:after {
              content: "";
              transition: 0.2s;
              position: absolute;
              bottom: 0;
              left: 0;
              margin: auto;
              right: 0;
              width: 30%;
              height: 2px;
              background-color: #353535;
            }
            &:hover:after {
              width: 100%;
            }
          }
          .menu-nav-item-on {
            animation: expand 1s;
          }
          .menu-nav-item-off {
            animation: shorten 1s;
            opacity: 0;
          }
          .menu-nav-item-on:nth-child(1) {
            animation-delay: 0.8s;
          }
          .menu-nav-item-on:nth-child(2) {
            animation-delay: 0.6s;
          }
          .menu-nav-item-on:nth-child(3) {
            animation-delay: 0.4s;
          }
          .menu-nav-item-on:nth-child(4) {
            animation-delay: 0.2s;
          }
        }
      }
      .menu-main-container-off {
        height: 0vh;
        .inner-menu-icon {
          img {
            transform: rotateZ(0deg);
            cursor: pointer;
          }
        }
      }
      .menu-main-container-on {
        height: 80vh;
        .inner-menu-icon {
          img {
            transform: rotateZ(90deg);
          }
        }
      }
    }
  }
}
@keyframes expand {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  60% {
    transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes shorten {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
