* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-main-container {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}

.navbar-main-container .navbar-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  position: relative;
}

.navbar-main-container .navbar-inner-container .navbar-logo {
  width: 80px;
}

.navbar-main-container .navbar-inner-container .navbar-logo img {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-menu {
  z-index: 100;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-icon {
  width: 80px;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-icon img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-icon-on img {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-icon-off img {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container {
  position: fixed;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  left: 0;
  right: 0;
  top: 0;
  background-color: #e7d8ed;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .inner-menu-icon {
  width: 80px;
  margin: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .inner-menu-icon img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item {
  text-decoration: none;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  color: #353535;
  font-size: 2rem;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item:after {
  content: '';
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  width: 30%;
  height: 2px;
  background-color: #353535;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item:hover:after {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item-on {
  -webkit-animation: expand 1s;
          animation: expand 1s;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item-off {
  -webkit-animation: shorten 1s;
          animation: shorten 1s;
  opacity: 0;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item-on:nth-child(1) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item-on:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item-on:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container .menu-navigation-items .menu-nav-item-on:nth-child(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container-off {
  height: 0vh;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container-off .inner-menu-icon img {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container-on {
  height: 80vh;
}

.navbar-main-container .navbar-inner-container .navbar-menu .menu-main-container-on .inner-menu-icon img {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes shorten {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes shorten {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
/*# sourceMappingURL=navbar.css.map */