*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
*::before , *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    scroll-behavior: smooth;
}
@mixin boxCenter{
    display:flex;
    justify-content:center;
    align-items:center;
}
@mixin boxAround{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
@mixin boxBetween{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
@mixin border{
    border:1px solid black;
}
@mixin borderRed{
    border:1px solid red;
}