.custom-landing-container {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.dune-rise {
  font-family: dune-rise;
}
.munich {
  font-family: munich;
}
.roboto-thin {
  font-family: roboto-thin;
}
.roboto-regular {
  font-family: roboto-regular;
}
.roboto-bold {
  font-family: roboto-bold;
}